a {
    color: #72c02c;
    text-decoration: none;
    background-color: transparent;
    transition: ease all .2s;
}

a:hover {
    color: #72c02c;
    text-decoration: none;
}

.text-primary {
    color: #72c02c !important;
}

.py-80 {
    padding: 80px 0;
}

.pt-80 {
    padding-top: 80px;
}